<ion-view title="Cadastro desaparecido" id="page5">

  <ion-content padding="true" class="has-header">
    <div id="pet-image" style="margin: 0px; line-height: 150px; background-color: rgb(232, 235, 239); text-align: center;"
    onclick="getImage()">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="cadastroDesaparecido-form2" class="list">
      <label class="item item-input" id="cadastroDesaparecido-input3" name="nome">
        <span class="input-label">Nome do pet:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastroDesaparecido-input4" name="raca">
        <span class="input-label">Raça:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select myclass1" id="cadastroDesaparecido-select1" name="porte">
        <span class="input-label">Porte</span>
        <select>
          <option>Pequeno</option>
          <option>Pequeno/Médio</option>
          <option>Médio</option>
          <option>Grande</option>
        </select>
      </label>
      <label class="item item-select" id="cadastroDesaparecido-select2" name="sexo">
        <span class="input-label">Sexo</span>
        <select>
          <option>Macho</option>
          <option>Fêmea</option>
        </select>
      </label>
      <label class="item item-input" id="cadastroDesaparecido-input6" name="data_hora">
        <span class="input-label">Data / hora:</span>
        <input type="text" placeholder="desaparecimento">
      </label>
      <label class="item item-input" id="cadastroDesaparecido-input7" name="local">
        <span class="input-label">Local:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastroDesaparecido-input9" name="tel1">
        <span class="input-label">Telefone 1:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastroDesaparecido-input10" name="tel2">
        <span class="input-label">Telefone 2:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="cadastroDesaparecido-select3" name="recompensa">
        <span class="input-label">Recompensa-se</span>
        <select>
          <option>Não</option>
          <option>Sim</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>
